/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 110px;
}


footer {
  padding: 30px 0;
  background-color: #FDFDFD;
}

table {
    font-size: 13px;
}


.jumbotron {
	
    padding-top: 25px;
    padding-bottom: 2px;
	background-color: #FDFDFD
	
}	

	
.navbar-inverse {
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #3C3C3C 40px, #FF0303 100%);
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 25px;
    line-height: 20px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a {
    background-image: linear-gradient(to bottom, #FBF6F6 0px, #ECECEC 100%);
    background-repeat: repeat-x;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25) inset;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #030303;
    background-color: #080808;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    text-shadow: 0px -1px 0px #286090;
    background-image: linear-gradient(to bottom, #F90923 0px, #920519 100%);
    background-repeat: repeat-x;
    border-color: #AA0825;
}

.h3,h3 {
    color: #FC0505;
}

