<!DOCTYPE html>
<html lang="en"><head><meta httq-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SPT: {% block title %}{% endblock %}</title><link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico" type="image/x-icon"/></head>
<link href="{{STATIC_URL}}style.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}menu.css" rel="stylesheet" type="text/css" />
<script src="{{STATIC_URL}}jquery.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56647337-1', 'auto');
  ga('send', 'pageview');

</script>
<body>
<div id="wrap">
<div id="masthead">
<h1>Schtewit Poker Tour</h1>
<div id="topnav">
<a href="{% url 'admin:index' %}">Admin Login</a>
</div>
</div>
	<div id="menucontainer">		
	<div id="menu">
	<ul>
	<li><a id="home" href="{% url 'index' %}" title="">Home</a></li>
 	<li><a id="gamedetails" href="gamedetails" title="">Game Details</a></li>
	<li><a id="profitloss" href="profitloss" title="">Profit/Loss</a></li>
	<li><a id="pastsptwinners" href="{% url 'pastsptwinners' %}" title="">Season Winners</a></li>
	<li><a id="stats" href="{% url 'stats' %}" title="">Stats</a></li>
	</ul>
	</div>
	</div>
<!-- <div class="content"> -->
{% block content %}{% endblock %}
<!-- </div> -->
<div id="footer">Developed By: Arlindo Santos <a href="http://www.arlindo.ca" title="">arlindo.ca</a></div>
</div>
</div>
<script>
	//handle the dam footer
	x = $(document).height();
	y = $(window).height();
	if (x<=y){ 
		$('#footer').css({width:'770px',position:'absolute',bottom:0});
	}
</script>

</body>
</html>
