{% extends 'base.html' %}
{% block title %}GameDetails{% endblock %}
{% block content %}

<script>
	$( document ).ready(function() {
	$("#gamedetails").attr('class', 'active');
	});
</script>

<div class="container">

	<div class="row row-offcanvas row-offcanvas-right">

			
		
{% for gd in gd_list %}
	{% ifchanged gd.seasonnumber or ifchanged gd.gamenumber or ifchanged gd.finalseasongame  %}
		{% if not forloop.first %}
			</tbody>
			</table>
			</div>
			</div>
		{% endif %}
		{% ifchanged gd.seasonnumber %}
		
			<h3> Season {{ gd.seasonyear }} - {{ gd.seasonnumber }}</h3>
		{% endifchanged %}
		
		{% if gd.finalseasongame == 'Yes' %}
			<h4>{{ gd.gamedate }} - Game {{ gd.gamenumber }} <br> (Final Table Game)</h4>
		{% else %}
			<h4>{{ gd.gamedate }} - Game {{ gd.gamenumber }}</h4>
		{% endif %}
		
		<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
			<th class="col-md-1">Name</th>
			<th class="col-md-1">Pts</th>
			<th class="col-md-1">Pay</th>
			<th class="col-md-1">Buy-In</th>
			<th class="col-md-3">Re-Buys</th>
						
					</tr>
				</thead>
				<tbody>
	
	{% endifchanged %}
	
	
				<tr>
 		        <td> {{ gd.firstname }} </td>
                <td> {{ gd.point }} </td>
                <td> ${{ gd.payout }} </td>
                <td> ${{ gd.buyinamount }} </td>
				<td> {{ gd.rebuys }} </td>
				</tr>
	
	
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% endblock %}
