{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<script>
$( document ).ready(function() {
$("#home").attr('class', 'current');
});
</script>
<div id="container">

<div id="sidebar">

<table>
<tr><td>
<h2>
{% for sg in currentgame_list %}
        Season {{ sg.seasonnumber }} <br>
        Night {{ sg.numberofgames }} of 12 <br>
	Cancelled Nights {{ numberofcancelledgames_list.0.numberofcancelledgames }} <br><br>
{% endfor %}
CURRENT STANDINGS
</h2></td><td></td></tr>
   <tr><td colspan"2"><div id="legend">Legend: (# of Games, 1st, 2nd, 3rd, 4th)</div></td></tr>
   {% for cs in currentstanding_list %}
        <tr> 
	<td> {{ cs.firstname }} ({{ cs.totalgames }},{{ cs.firstplaces }},{{ cs.secondplaces }},{{ cs.thirdplaces }},{{ cs.forthplaces }}) </td>
	<td> {{ cs.points }} </td>
	</tr>
	{% if forloop.counter == 8 %}
		<tr><td colspan"2">&nbsp;</td></tr>
	{% endif %}	
    {% endfor %}
<tr><td><h2>CURRENT POOL AMOUNT</h2></td><td></td></tr>
<tr><td>
{% for cpa in currentpoolamount_list %}
        Total=${{ cpa.poolamount }}
	<br>
	PL buy-in Total=${{ cpa.buyintotal }} ({{ cpa.plleader }})
	<br>
	Adjusted Pool Total=${{ cpa.poolamountadjusted }}
	<br>
	1st=${{ cpa.firstplaceamount }} (50%)
	<br>
	2nd=${{ cpa.secondplaceamount }} (30%)
	<br>
	3rd=${{ cpa.thirdplaceamount }} (20%)
{% endfor %}
</td><td></td></tr>
</table>
<h2>PREVIOUS SEASON STANDINGS</h2>
<table width=100%>
<tr><td colspan"2"><div id="legend">Legend: (# of Games, 1st, 2nd, 3rd, 4th)</div></td></tr>
{% for prs in previousseasonstanding_list %}
	<tr>
        <td> {{ prs.firstname }} ({{ prs.totalgames }},{{ prs.firstplaces }},{{ prs.secondplaces }},{{ prs.thirdplaces }},{{ prs.forthplaces }})</td>
	<td> {{ prs.points }} </td>
	</tr> 
        {% if forloop.counter == 8 %}
                <tr><td colspan"2">&nbsp;</td></tr>
        {% endif %}
{% endfor %}
</table>
<h2>PREVIOUS SEASON POOL AMOUNT</h2>
{% for prpa in previousseasonpoolamount_list %}
        Total=${{ prpa.poolamount }}
        <br>
        PL buy-in Total=${{ prpa.buyintotal }} ({{ prpa.plleader }})
        <br>
        Adjusted Pool Total=${{ prpa.poolamountadjusted }}
        <br>
        1st=${{ prpa.firstplaceamount }} (50%)
        <br>
        2nd=${{ prpa.secondplaceamount }} (30%)
        <br>
        3rd=${{ prpa.thirdplaceamount }} (20%)
{% endfor %}
<h2>STANDARD PAYOUT</h2>
5p-$250 1st=$180, 2nd=$70<br>
6p-$300 1st=$200, 2nd=$100<br>
7p-$350 1st=$200, 2nd=$100, 3rd=$50<br>
8p-$400 1st=$220, 2nd=$120, 3rd=$60<br>
9p-$450 1st=$250, 2nd=$140, 3rd=$60<br>
10p-$500 1st=$270, 2nd=$160, 3rd=$70<br>
11p-$550 1st=$300, 2nd=$180, 3rd=$70<br>
12p-$600 1st=$340, 2nd=$180, 3rd=$80
				
</div>
			
<div id="contentspt">

<h3>NEWS FLASH</h3>
<p>
{% for nf in newsflash_list %}
        {{ nf.newsflash }}
{% endfor %}
</p>

<h3>SPT</h3>

<p>The Schtewit Poker Tour league was founded in 2006 by a group of friends who 
needed an excuse to get away from their wives and stay in contact with friends. </p> 

<p>A SPT season consists of 12 nights; 2 games per night at $60 per game; $10 of which is 
placed into a prize pool and runs every 2 weeks. Points are awarded to members that finish in 
first, second, third and forth for each game. 5 points awarded for first, 3 points 
for second, 2 points for third and 1 point for forth. The top 8 players with the 
most points during the season, play the final table game for the prize pool of money 
accumulated throughout the season. </p>

<p>Non SPT members are allowed to play at a cost of $50 per game and are NOT
allowed to play for the final prize pool of money.</p>
</div>
</div>
{% endblock %}
