{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {
		$("#home").attr('class', 'active');
	});

</script>

<div class="container">

	<div class="row row-offcanvas row-offcanvas-right">

		<div class="col-sm-2" id="sidebar">
			<div class="list-group">
				<a href="#" class="list-group-item active">News Flash</a> 
				<a href="#" class="list-group-item">
				{% for nf in newsflash_list %}
        			{{ nf.newsflash }}
				{% endfor %}
				</a> 
			</div>
		</div>
		
		<div class="col-sm-10">
			<div class="jumbotron">
				<p>
					<img src="{{STATIC_URL}}image/aces.png"></img> The Schtewit Poker
					Tour league was founded in 2006 by a group of friends who needed an
					excuse to get away from their wives and stay in contact with
					friends.
				</p>
				<p>A SPT season consists of 12 nights; 2 games per night at $60
					per game; $10 of which is placed into a prize pool and runs every 2
					weeks. Points are awarded to members that finish in first, second,
					third and forth for each game. 5 points awarded for first, 3 points
					for second, 2 points for third and 1 point for forth. The top 9
					players with the most points during the season, play the final
					table game for the prize pool of money accumulated throughout the
					season.</p>

				<form action="https://www.paypal.com/cgi-bin/webscr" method="post"
					target="_top">
					<input type="hidden" name="cmd" value="_s-xclick"> <input
						type="hidden" name="hosted_button_id" value="9P6QRCZA6JGEY">
					<input type="submit" class="btn btn-success"
						value="Support the SPT site">
				</form>


			</div>

			<div class="row">
				<div class="col-sm-6">

			<h3>
			
			{% for sg in currentgame_list %} Current Season {{ sg.seasonnumber }} - Night {{ sg.numberofgames }} of 12 </h3> <h5>(Cancelled Nights {{numberofcancelledgames_list.0.numberofcancelledgames }} {% endfor %})</h5>
			<br>
				<form action="./" method="POST" id="form_preseason">
				{% csrf_token %}
				{% with pll_list|first as first_pll_list %}
					<input type="hidden" value="{{ first_pll_list.seasonnumber }}" name="seasonnumber" />
				{% endwith %}

    			<input type="submit" value="&laquo; Previous" class="btn btn-default pull-left" role="button">
				</form><a class="btn btn-default pull-right" href="./" role="button">Current</a>
			</div>
			</div>
						
			<div class="row">
				<div class="col-sm-6">

				{% with pll_list|first as first_pll_list %}
						<h3>Season {{ first_pll_list.seasonnumber }} Standings</h3>
				{% endwith %}
				
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th class="col-md-1">Name</th>
								<th class="col-md-1">Games</th>
								<th class="col-md-1">1st</th>
								<th class="col-md-1">2nd</th>
								<th class="col-md-1">3rd</th>
								<th class="col-md-1">4th</th>
								<th class="col-md-1">Pts</th>
							</tr>
						</thead>
						<tbody>
							{% for cs in currentstanding_list %}
							<tr>
								<td>{{ cs.firstname }}</td>
								<td>{{ cs.totalgames }}</td>
								<td>{{ cs.firstplaces }}</td>
								<td>{{ cs.secondplaces }}</td>
								<td>{{ cs.thirdplaces }}</td>
								<td>{{ cs.forthplaces }}</td>
								<td>{{ cs.points }}</td>
							</tr>
							{% if forloop.counter == 9 %}
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							{% endif %} {% endfor %}
						</tbody>
					</table>
					<p>
						<a class="btn btn-default" href="./gamedetails" role="button">View game details &raquo;</a>
					</p>
				</div>

				<div class="col-sm-6">
				{% with pll_list|first as first_pll_list %}
						<h3>Season {{ first_pll_list.seasonnumber }} Profit/Loss</h3>
				{% endwith %}
				
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th class="col-md-1">Name</th>
								<th class="col-md-1">Profit</th>
							</tr>
						</thead>
						<tbody>
						{% for pll in pll_list %}
						
						
            				<tr>
								<td>{{ pll.firstname }}</td>
								<td>{{ pll.profit }}</td>
							</tr>
        				
							
						{% endfor %}	
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">

				<div class="col-sm-6">
					{% with pll_list|first as first_pll_list %}
						<h3>Season {{ first_pll_list.seasonnumber }} Pool Amount</h3>
					{% endwith %}
				
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th class="col-md-2">Total</th>
								<th class="col-md-2">Point Leader buy-ins</th>
								<th class="col-md-2">Adj Pool Total</th>
								<th class="col-md-2">1st (50%)</th>
								<th class="col-md-2">2nd (30%)</th>
								<th class="col-md-2">3rd (20%)</th>
							</tr>
						</thead>
						<tbody>

							{% for cpa in currentpoolamount_list %}
							<tr>
								<td>${{ cpa.poolamount }}</td>
								<td>${{ cpa.buyintotal }} ({{ cpa.plleader }})</td>

								<td>${{ cpa.poolamountadjusted }}</td>

								<td>${{ cpa.firstplaceamount }}</td>

								<td>${{ cpa.secondplaceamount }}</td>

								<td>${{ cpa.thirdplaceamount }}</td>
							<tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				
				<div class="col-sm-6">
					<h3>Standard Payout</h3>
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th class="col-md-1"># of Players</th>
								<th class="col-md-1">Pool</th>
								<th class="col-md-1">1st</th>
								<th class="col-md-1">2nd</th>
								<th class="col-md-1">3rd</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>5</td>
								<td>$250</td>
								<td>$180</td>
								<td>$70</td>
								<td>$0</td>
							</tr>
							<tr>
								<td>6</td>
								<td>$300</td>
								<td>$200</td>
								<td>$100</td>
								<td>$0</td>
							</tr>
							<tr>
								<td>7</td>
								<td>$350</td>
								<td>$200</td>
								<td>$100</td>
								<td>$50</td>
							</tr>
							<tr>
								<td>8</td>
								<td>$400</td>
								<td>$220</td>
								<td>$120</td>
								<td>$60</td>
							</tr>
							<tr>
								<td>9</td>
								<td>$450</td>
								<td>$250</td>
								<td>$140</td>
								<td>$60</td>
							</tr>
														<tr>
								<td>10</td>
								<td>$500</td>
								<td>$270</td>
								<td>$160</td>
								<td>$70</td>
							</tr>
							<tr>
								<td>11</td>
								<td>$550</td>
								<td>$300</td>
								<td>$180</td>
								<td>$70</td>
							</tr>
							<tr>
								<td>12</td>
								<td>$600</td>
								<td>$340</td>
								<td>$180</td>
								<td>$80</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}