{% extends 'base.html' %}lert($(window).height());   // returns height of browser viewpor
{% block title %}PastSPTWinners{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {
		$("#pastsptwinners").attr('class', 'active');
	});
</script>

<div class="container">

	<div class="row row-offcanvas row-offcanvas-right">

		<div class="col-sm-12">
			
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th class="col-md-2">Season</th>
						<th class="col-md-2">SPT Final Table Winner</th>
					</tr>
				</thead>
				<tbody>

					{% for psw in psw_list %}
					<tr>
						<td>{{ psw.seasonnumber }}</td>
						<td>{{ psw.seasonwinner }}</td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	 </div>
	<div>

{% endblock %}