{% extends 'base.html' %}lert($(window).height());   // returns height of browser viewpor
{% block title %}Stats{% endblock %}
{% block content %}

<script>
	$( document ).ready(function() {
	$("#stats").attr('class', 'active');
	});
</script>

<script src="{{STATIC_URL}}sptstats.js"></script>

<div class="container">
	<div class="row">

			<div class="span3 table-responsive col-sm-6">
	
				<div id="plot4" style="min-width: 400px; height: 500px; margin: 0 auto"></div>
			</div>
		
		
			<div class="span3 table-responsive col-sm-6">
				<div id="plot2" style="min-width: 400px; height: 500px; margin: 0 auto"></div>
			</div>
		
	</div>
	
	<div class="row">
			<div class="span3 table-responsive col-sm-6">
	
				<div id="plot3" style="min-width: 400px; height: 500px; margin: 0 auto"></div>
			</div>
		
			<div class="span3 table-responsive col-sm-6">
				<div id="plot5" style="min-width: 400px; height: 500px; margin: 0 auto"></div>
			</div>
		
	</div>
	
	<div class="row">
			<div class="span3 table-responsive col-sm-6">
	
				<div id="plot1" style="min-width: 400px; height: 800px; margin: 0 auto"></div>
			</div>
			<!--  		
			<div class="span3 table-responsive col-sm-6">
				<div id="plot6" style="min-width: 400px; height: 800px; margin: 0 auto"></div>
			</div>
			-->
	</div>

{% endblock %}
