{% extends 'base.html' %}lert($(window).height());   // returns height of browser viewpor
{% block title %}Stats{% endblock %}
{% block content %}
<script>
	$( document ).ready(function() {
	$("#stats").attr('class', 'current');
	});
</script>
<div id="container">
			
<div id="contentsptnosidebar">

<h3>Stats (Played more than 10 games & SPT member)</h3>
{% load sptcharts %}

{% load chart_tags %}
<br>
{% chart %}
{% sptchamps stats_list %}
{% endchart %}
<br>
<br>
{% chart %}
{% profitloss stats_profit_list %}
{% endchart %}
<br>
<br>
{% chart %}
{% placements stats_placements_list %}
{% endchart %}
<br>
<br>
{% chart %}
{% top4 stats_top4_list %}
{% endchart %}

<table id="tabledg">
<tr>
    <th id="thdg">Name</th>
    <th id="thdg">Played In Season</th>
<th id="thdg">Games Played</th>
 <th id="thdg">Season Final Table Wins</th>
 <th id="thdg">Season Point Leader Wins</th>
 <th id="thdg">First Place Wins</th>
 <th id="thdg">Second Place Wins</th>
 <th id="thdg">Third Place Wins</th>
 <th id="thdg">Forth Place Wins</th>
 <th id="thdg">Top 4 Placement Percentage</th>
 <th id="thdg">Cumalative Profit/Loss</th>
 </tr>
{% for stat in stats_list %}
	<tr id="trdg">	 
        	<td id="tddg"> {{ stat.firstname }} </td">
		 <td id="tddg">
		{% for seasonsplayed in seasonsplayed_list %}
		{% if seasonsplayed.firstname == stat.firstname %}
			{{ seasonsplayed.seasonnumber }}, 
		{% endif %}
		{% endfor %}
		</td>
     		<td id="tddg"> {{ stat.numberofgamesplayed }} </td>
  		<td id="tddg"> {{ stat.finaltablewins }} </td">
  		<td id="tddg"> tbd </td"> 
		<td id="tddg"> {{ stat.firstplaces }} </td>
                <td id="tddg"> {{ stat.secondplaces }} </td>
 		<td id="tddg"> {{ stat.thirdplaces }} </td>
                <td id="tddg"> {{ stat.forthplaces }} </td>
 		<td id="tddg"> %{{ stat.percent|floatformat:"0" }} </td>
                <td id="tddg"> ${{ stat.profit }} </td>
	</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}
